
src/spmv
spmv_benchmark
data/Transport.mtx
data/twotone.mtx
data/memchip.mtx
data/torso1.mtx
data/cage14.mtx
results/*
scripts/spmv_mpi_benchmark
scripts/strong_scaling*
scripts/weak_scaling*
plots/*.png
        
Old_deliverable/src/spmv
Old_deliverable/data/*.mtx